<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">
      Enter your Email
      <p class="subtitle">To recieve a reset password link</p>
    </ion-title>
  </div>
  <div>
    <ion-item>
      <ion-icon name="mail-outline"></ion-icon>
      <ion-input label="Email" labelPlacement="floating" placeholder="Email address" class="input"></ion-input>
    </ion-item>

  </div>
  <div>
    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
      <ion-fab-button [routerLink]="['/login']">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
