# Node.js
# compiled output
/dist
/node_modules
/build
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Logs
logs
*.log
logs/*.log

# Dependency directories
backend/node_modules/
frontend/node_modules/

# Build directories
frontend/www/
frontend/build/
backend/dist/
backend/build/

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS-specific files
.DS_Store
Thumbs.db

# Ionic/Cordova
platforms/
plugins/
www/
hooks/
resources/
config.xml
.cordova/
plugins/android.json
plugins/ios.json
plugins/fetch.json

# Optional npm cache directory
.npm

# MacOS files
.DS_Store
.AppleDouble
.LSOverride

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db

# Linux trash files
.Trash-*

# Environment files
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Temporary files
*.swp
*.temp
*.tmp
~$*

# Coverage reports
coverage/
node_modules
