<ion-content class="welcome-content">
  <div class="welcome-container">
    <img src="assets/logo.png" alt="Vibe Cafe Logo" class="welcome-logo" />
    <h1 class="welcome-title">Feel yourself like a barista!</h1>
    <p class="welcome-subtitle">Magic coffee on order.</p>
    <p class="welcome-description"></p>
  </div>

  <!-- Circular button anchored to the bottom with an arrow -->
  <div class="circle-button" (click)="navigateToLogin()">
    <ion-icon name="arrow-forward-outline"></ion-icon>
  </div>
</ion-content>